html,
body {
  background-color: #282c34;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Profile-pic {
  height: 5%;
  pointer-events: none;
}

.App-main {
  background-color: white;
  padding: 20px;
}
.App-link {
  color: #61dafb;
}
